*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url(https://res.cloudinary.com/dyajk5rfe/image/upload/v1678016676/image_kysuh8.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.waiting {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

form {
    background: #FFF;
    max-width: 400px;
    height: auto;
    padding: 20px;
    border-radius: 15px;
    text-align: center;
}

.title h1 {
    padding: 0 15px 20px 15px;
    font-family: 'Oswald', sans-serif;
    font-weight: 300;
    color: #2a109c;
}

.title button {
    border: none;
    padding: 20px 10px;
    width: 100%;
    background: rgb(69, 69, 224);
    color: rgb(235, 235, 235);
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 15px;
}

.title button:hover {
    background: #3214b7;
    color: white;
    transition: all 0.3s;
}

form img{
    width: 100%;
}

.dot-typing {
    margin: 10px auto;
    position: relative;
    left: -9999px;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background-color: #9880ff;
    color: #9880ff;
    box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    animation: dot-typing 1.5s infinite linear;
}

@keyframes dot-typing {
    0% {
        box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }

    16.667% {
        box-shadow: 9984px -10px 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }

    33.333% {
        box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }

    50% {
        box-shadow: 9984px 0 0 0 #9880ff, 9999px -10px 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }

    66.667% {
        box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }

    83.333% {
        box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px -10px 0 0 #9880ff;
    }

    100% {
        box-shadow: 9984px 0 0 0 #9880ff, 9999px 0 0 0 #9880ff, 10014px 0 0 0 #9880ff;
    }
}